{% extends "base.html" %}
{% block title %}| Home{% endblock %}
{% block content %}
<div class="jumbotron">
    <div class="inside-jumbotron">
  <h1 class="display-4">Q&A API</h1>
  <p class="lead">This is a simple API that contains questions and answers to several programming languages and technologies.</p>
  <hr class="my-4">
  <p>It is designed for developers who would like to make some sort of Front-end application e.g. flashcards with questions and answers, so they can learn new language and technology easily!</p>
  <p>It is far from finished and if you would like to increase database, feel free to contact me!</p>
  <p>Free to use!</p>
  <a class="jumbo-btn btn btn-info btn-lg" href="/documentation" role="button">See documentation</a>
  </div>
</div>

{% endblock %}